{% extends 'base.html.twig' %}
{% block body %}
    <table class="table small table-hover">
        <thead class="">
        <tr>
            <th>Bölüm Adı</th>
            <th>Bölüm Period</th>
            <th colspan="2"><a href="{{ path('bolum_ekle') }}" class="btn btn-success btn-sm" style="width:100%;">Bölüm Ekle </a> </th>
        </tr>
        </thead>
        <tbody>
        {% for bolum in bolumler %}
        <tr>
            <td>{{ bolum.departmentName  }}</td>
            <td>{{ bolum.period  | upper}}</td>
            <td>
            <a href="/bolum_detay/{{ bolum.id }}" class="btn btn-primary btn-sm col-xs-12 col-sm-12 col-md-12 ">Bölüm Dersleri</a>
        </td>
        <td>
            <a href="/bolum_duzenle/{{ bolum.id }}" class="btn btn-warning btn-sm col-xs-12 col-sm-12 col-md-12 ">Bölüm Düzenle</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>{% endblock %}



