{% extends 'base.html.twig' %}
{% block body %}
{% set toplam_uygulama = 0 %}
{% set toplam_teori = 0 %}
    <div class="row">

        <a class="btn btn-success col-xs-2 col-sm-2 col-md-2" style="margin-left:22px;"  href="{{ path('bolumler') }}">Bölümlere Geri Dön</a>




    </div>
        <hr/>





    <table class="table table-striped">
        <thead>
        <tr>
            <th>Bölüm Adı : {{ bolum.departmentName | capitalize }} </th>

            <!-- bolum periodunun anlasilir olmasi icin -->

            <th>Bölüm Period :
                {% if bolum.period == "oo" %}
                    Örgün Öğretim
                {% elseif bolum.period == io %}
                    İkinci Öğretim
                    {% else %}
                        {{ bolum.period }}
                {% endif %}</th>

            <th>Toplam Ders Sayisi {{ bolum.dersler.count }}</th>

        </tr>
        <tr>
            <th>Ders Adı</th>
            <th>Ders-No</th>
            <th>Teorik</th>
            <th>Uygulama</th>
            <th>Öğretim Görevlisi</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

         <tr>

             {% for ders in dersler %}
            {% if ders.dersdonem == donem_id  %}  {# Secilen donemin derslerini getirmek icin#}
             <tr>

                <td>{{ ders.dersAd }}</td>
                <td>
                {# Kaldirildi
                    {% if ders.zorunluveyasecmeli != "Zorunlu" %}
                    <pre style="color: crimson">{{ ders.zorunluveyasecmeli }}</pre>
                    {% else %}
                        {{ ders.zorunluveyasecmeli }}
                        {% endif %}
                 #}
                    {{ ders.derskod }}
                </td>
             <td>
                 {# Kaldirildi
                 {% if ders.dersDonem == 1 %}
                     1/Güz
                 {% endif %}
                 {% if ders.dersDonem == 2 %}
                     1/Bahar
                 {% endif %}
                 {% if ders.dersDonem == 3 %}
                     2/Güz
                 {% endif %}
                 {% if ders.dersDonem == 4 %}
                     2/Bahar
                 {% endif %}
                 #}
                    {{ ders.teoripuan }}
             </td>
             <td>{{ ders.pratikpuan }}</td>
             <td>

                 {% set controller = true %}
                 {% for ogretmen in ders.Ogretmenler2017Guz %}
                    {% set controller = false %}
                     {{ ogretmen.gorevliAd }} {{ ogretmen.gorevliSoyad }}
                     {% set toplam_teori = toplam_teori + ders.teoripuan %}
                     {% set toplam_uygulama = toplam_uygulama +  ders.pratikpuan %}
                        <td colspan="2">
                     <a id="sil"   class="btn btn-danger col-xs-12 col-sm-12 col-md-12" href="/bolumler/detay/dersler/gorevli/{{ ogretmen.id }}/{{ ders.id }}/{{ bolum.id }}">Sil</a>
                 </td>

                 {% endfor %}
                   {% if controller == true %}
                    Atanmadı
                     {% endif %}
                 <td>
                 {% if controller == true %}
                     <a class="btn btn-primary col-xs-12 col-sm-12 col-md-12"  href="/bolumler/detay/dersler/{{ bolum.id }}/{{ ders.id }}">Görevli Ekle</a>
</td>
                 {% endif %}

             </td>
             </tr>
         {% endif %}

                {% endfor %}




        </tbody>
    </table>
    <div class="row" style="border-top:1px solid #dcdcdc;">
        <div class="col-xs-3">
            <h4><b>Toplam Teori:</b> {{ toplam_teori }} </h4>
        </div>
        <div class="col-xs-3">
            <h4><b>Toplam Uygulama:</b> {{ toplam_uygulama }} </h4>
        </div>
        <div class="col-xs-6">
            <h4><b>Derslerin Toplam Uygulama ve Teori Ders Saatileri:</b> {{ toplam_uygulama + toplam_teori }} </h4>
        </div>

    </div>
    <hr/>

    <!-- Gorevli silinmeden once emin misiniz sorusu icin  -->
     <script>
        var cls = document.getElementsByClassName("sil"); // id verilen butonun click olma durumu icin

        var myDeleteFunction = function(evt) { // click oldugunda cagirilacak fonksiyon

            if(confirm("Silmek istediğinize emin misiniz?"))  // yes no cikarmak icin
            {
                alert('Silindi!');  // yes ise
            }
            else
            {
                evt.preventDefault();  // no ise vazgecmek icin
            }  
        };
        for (var i = 0; i < cls.length; i++){
                cls[i].addEventListener('click', myDeleteFunction, false);
            }
    </script>



{% endblock %}