{% extends 'base.html.twig' %}
{% block body %}

    <div class="row">

        <a class="btn btn-success col-md-6"  href="{{ path('bolumler') }}">Bölümlere Geri Dön</a>
        <a class="btn btn-primary col-md-6"  href="">Bölüme Ders Ekle</a>
    </div>
        <hr/>




    <table class="table">
        <thead>
        <tr>
            <th>Bölüm Adı : {{ bolum.departmentName | capitalize }} </th>

            <!-- bolum periodunun anlasilir olmasi icin -->

            <th>Bölüm Period :
                {% if bolum.period == "oo" %}
                    Örgün Öğretim
                {% elseif bolum.period == io %}
                    İkinci Öğretim
                    {% else %}
                        {{ bolum.period }}
                {% endif %}</th>

            <th>Toplam Ders Sayisi {{ bolum.dersler.count }}</th>

        </tr>
        <tr>
            <th>Ders Adı</th>
            <th>Zorunlu/Seçmeli</th>
            <th>Dönem</th>
            <th>Öğretim Görevlisi</th>
        </tr>
        </thead>
        <tbody>

         <tr>

             {% for ders in dersler %}
             <tr>

                <td>{{ ders.dersAd }}</td>
                <td>
                {% if ders.zorunluveyasecmeli != "Zorunlu" %}
                    <pre style="color: crimson">{{ ders.zorunluveyasecmeli }}</pre>
                    {% else %}
                        {{ ders.zorunluveyasecmeli }}
                        {% endif %}
                </td>
             <td>{% if ders.dersDonem == 1 %}
                     1/Güz
                 {% endif %}
                 {% if ders.dersDonem == 2 %}
                     1/Bahar
                 {% endif %}
                 {% if ders.dersDonem == 3 %}
                     2/Güz
                 {% endif %}
                 {% if ders.dersDonem == 4 %}
                     2/Bahar
                 {% endif %}

             </td>
             <td>
                 {% set controller = true %}
                 {% for ogretmen in ders.ogretmenler %}
                    {% set controller = false %}
                     {{ ogretmen.gorevliAd }} {{ ogretmen.gorevliSoyad }}
                 {% endfor %}
                 {% if controller == true %}
                     <a class="btn btn-primary col-md-12"  href="">Görevli Ekle</a>

                 {% endif %}

             </td>
             </tr>

                {% endfor %}
         </tr>




        </tbody>
    </table>
    <hr/>




{% endblock %}