{% extends 'base.html.twig' %}
{% block body %}
  {% set control = 0 %}

    <table class="table table-hover small">
       <thead>
       <tr>

       
       </tr>
       <tr>
           <th>Ders Adı</th>
           <th>Ders No</th>
           <th>Z/S</th>
           <th>İÖ/ÖÖ</th>
           <th>Dönem</th>
           <th>Akts</th>
           <th>Lab</th>
           <th>Pratik</th>
           <th>Teorik</th>
           <th>Görevli</th>
           <th colspan="2">    
        <a class="btn btn-success btn-md btn-block btn-sm" href="{{ path('ders_ekle') }}" > Ders Ekle </a>
       </th>
       <th></th>
       </tr>
       </thead>
       <tbody>
       {% for ders in dersler %}
           <td>{{ ders.dersAd }}</td>
           <td>{{ ders.dersKod }}</td>
           <td>{{ ders.zorunluveyasecmeli }}</td>
           <td>{{ ders.dersPeriod }}</td>
           <td>{% if ders.dersDonem == 1 %}
                   1/Güz
                {% endif %}
               {% if ders.dersDonem == 2 %}
                   1/Bahar
               {% endif %}
               {% if ders.dersDonem == 3 %}
                   2/Güz
               {% endif %}
               {% if ders.dersDonem == 4 %}
                   2/Bahar
               {% endif %}

           </td>
           <td>{{ ders.akts}}</td>
           <td>{{ ders.labpuan}}</td>
           <td>{{ ders.pratikpuan}}</td>
           <td>{{ ders.teoripuan}}</td>


              {#  <td>  Dersin Hangi Bolumde Verildigini Bulmak icin
            {% for bolum in bolumler %}
                {% if bolum.id == ders.bolumid %}
                    {{ bolum.departmentName }}
                {% endif %}
            {% endfor %}   </td>
            #}


  <td>
    {% if ders.ogretmenler2017Guz.count != 0 %}
      {% for ogretmen in ders.ogretmenler2017Guz %}
        {{ ogretmen.gorevliAd }}
        {{ ogretmen.gorevliSoyad }}
      {% endfor %}
    {% else %}
      Atanmadı
    {% endif %}
       
 </td>
           <td class="">
               <a href="/dersler/ders/detay/{{ ders.id }}" class="btn btn-primary btn-sm col-xs-12 col-sm-12 col-md-12">Detay</a>
             </td>
             <td>
               <a href="/dersler_ders/duzenle/{{ ders.id }}" class="btn btn-warning btn-sm col-xs-12 col-sm-12 col-md-12">Düzenle</a>
           </td>

       </tr>
       {% endfor %}
        </tbody>

   </table>
   {# Loader Denendi
        <div id="loader" class="" style="text-align: center"> <img src="{{ asset('assets/gifs/gear.gif') }}" alt="ripple gif"/>  </div>
    #}
{% endblock %}